*/:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd
}

*,
::after,
::before {
    box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

h2 {
    font-size: calc(1.325rem + .9vw)
}

@media (min-width:1200px) {
    h2 {
        font-size: 2rem
    }
}

h3 {
    font-size: calc(1.3rem + .6vw)
}

@media (min-width:1200px) {
    h3 {
        font-size: 1.75rem
    }
}

h4 {
    font-size: calc(1.275rem + .3vw)
}

@media (min-width:1200px) {
    h4 {
        font-size: 1.5rem
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ul {
    padding-left: 2rem
}

ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ul ul {
    margin-bottom: 0
}

a {
    color: var(--bs-link-color);
    text-decoration: underline
}

a:hover {
    color: var(--bs-link-hover-color)
}

img {
    vertical-align: middle
}

label {
    display: inline-block
}

button {
    border-radius: 0
}

button:focus:not(:focus-visible) {
    outline: 0
}

button,
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button {
    text-transform: none
}

[type=submit],
button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

::-moz-focus-inner {
    padding: 0;
    border-style: none
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
    padding: 0
}

::-webkit-inner-spin-button {
    height: auto
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-color-swatch-wrapper {
    padding: 0
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

::file-selector-button {
    font: inherit;
    -webkit-appearance: button
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1320px
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x))
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y)
}

@media (min-width:992px) {
    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%
    }
}

.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer
}

.form-control::file-selector-button {
    padding: .375rem .75rem;
    margin: -.375rem -.75rem;
    -webkit-margin-end: .75rem;
    margin-inline-end: .75rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control::file-selector-button {
        transition: none
    }
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #dde0e3
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #dde0e3
}

.form-control-sm::file-selector-button {
    padding: .25rem .5rem;
    margin: -.25rem -.5rem;
    -webkit-margin-end: .5rem;
    margin-inline-end: .5rem
}

.form-control-lg::file-selector-button {
    padding: .5rem 1rem;
    margin: -.5rem -1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem
}

.form-control-color:not(:disabled):not([readonly]) {
    cursor: pointer
}

.form-floating>.form-control-plaintext:not(:-moz-placeholder-shown),
.form-floating>.form-control:not(:-moz-placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem
}

.form-floating>.form-control:not(:-moz-placeholder-shown)~label {
    opacity: .65;
    transform: scale(.85) translateY(-.5rem) translateX(.15rem)
}

.input-group>.form-control:not(:focus).is-valid,
.input-group>.form-floating:not(:focus-within).is-valid,
.input-group>.form-select:not(:focus).is-valid,
.was-validated .input-group>.form-control:not(:focus):valid,
.was-validated .input-group>.form-floating:not(:focus-within):valid,
.was-validated .input-group>.form-select:not(:focus):valid {
    z-index: 3
}

.input-group>.form-control:not(:focus).is-invalid,
.input-group>.form-floating:not(:focus-within).is-invalid,
.input-group>.form-select:not(:focus).is-invalid,
.was-validated .input-group>.form-control:not(:focus):invalid,
.was-validated .input-group>.form-floating:not(:focus-within):invalid,
.was-validated .input-group>.form-select:not(:focus):invalid {
    z-index: 4
}

.btn:focus-visible {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow)
}

.btn-check:focus-visible+.btn {
    border-color: var(--bs-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow)
}

.btn-check:checked+.btn:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check)+.btn:active:focus-visible {
    box-shadow: var(--bs-btn-focus-box-shadow)
}

.btn-link:focus-visible {
    color: var(--bs-btn-color)
}

.dropdown {
    position: relative
}

.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important
}

.d-flex {
    display: flex !important
}

.d-none {
    display: none !important
}

.align-items-center {
    align-items: center !important
}

/*-- Typography --*/

/* @import url('https://fonts.googleapis.com/css2?family=Anton&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&amp;display=swap'); */

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}
/*-- Variables --*/

:root {
    --primary-color: #3CFFD0;
    --secondary-color: #3CFFD0;
    --secondary-color-alt: #000;
    --heading-color: #ffffff;
    --body-color: #ffffff;
    --paragraph-color: #ffffff;
    --pf: "Montserrat", sans-serif;
    --font-awesome: "Font Awesome 5 Pro";
    --font-size-b1: 18px;
    --font-size-b2: 16px;
    --font-size-b3: 14px;
    --font-size-b4: 12px;
    --line-height-body: 22px;
    --line-height-b1: 1.6;
    --line-height-b2: 1.5;
    --line-height-b3: 1.4;
    --line-height-b4: 1.3;
}


html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden;
    font-family: var(--pf);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -moz-osx-font-smoothing: grayscale;
    /* Firefox */
    -webkit-font-smoothing: antialiased;
    /* WebKit  */
}

body {
    margin: 0;
    color: var(--body-color);
    font-family: var(--pf);
    line-height: var(--line-height-body);
    font-size: var(--font-size-b1);
    background-color: #131313;
}

h2 {
    font-size: 35px;
    line-height: 1.3380952381;
}

h3 {
    font-size: 30px;
    line-height: 1.3833333333;
}

h4 {
    font-size: 25px;
    line-height: 1.3380952381;
}

h2,
h3,
h4 {
    color: var(--heading-color);
    font-family: var(--pf);
    font-weight: 400;
}

p {
    color: var(--paragraph-color);
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-bottom: 10px;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}

a:hover {
    color: var(--secondary-color);
}

a i {
    padding: 0 2px;
}

article,
footer,
header,
nav,
section {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

button:hover,
button:active,
button:focus {
    outline: 0;
}

/*input and button type focus outline disable*/
input[type=text]:focus,
input[type=email]:focus,
input[type=submit]:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ddd;
}


/* Text meant only for screen readers. */

/* Do not show the outline on the skip link target. */

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

/* Make sure embeds and iframes fit their containers. */

/* Make sure logo link wraps around logo image. */

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

/*----------------------------------------
    # Unit test
------------------------------------------*/

ul {
    padding-left: 15px;
}

form {
    margin: 0;
}


/* ----------------------------------
    Template Helps Classes - Styles
 ------------------------------------ */

/* padding left */

/* padding right */

/* padding top */

.pt-80 {
    padding-top: 80px;
}

/* padding bottom */

.pb-70 {
    padding-bottom: 70px;
}


/* margin left */

.ml-30 {
    margin-left: 30px;
}

.ml-70 {
    margin-left: 70px;
}

/* margin right */

/* margin top */

.mt-30 {
    margin-top: 30px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

/* margin bottom */

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-60 {
    margin-bottom: 60px;
}


/*=================================================================*/
/*                      HEADER                              
/*=================================================================*/

.theme-header-area {
    position: relative;
}

.nav-menu-wrapper {
    position: relative;
}

.theme-header-main {
    border-bottom: 1px solid #848484;
    padding: 0px 0px;
}

.nav-menu-wrapper .mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu-wrapper .mainmenu ul li {
    position: relative;
    display: inline-block;
}

.nav-menu-wrapper .mainmenu ul li a {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 34px;
    padding-bottom: 34px;
    letter-spacing: -0.05em;
    font-weight: 400;
}

.nav-menu-wrapper .mainmenu ul li:first-child a {
    padding-left: 0;
}

.nav-menu-wrapper .mainmenu ul li:last-child a {
    padding-right: 0;
}

.header-right-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-burger-menu {
    margin-left: 30px;
    font-size: 20px;
    line-height: 1;
}

.header-subscribe {
    position: relative;
    margin-left: 30px;
}

.burger-nav-bar a {
    color: #8F8F8F;
}

.burger-nav-bar a i {
    font-size: 20px;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: relative;
}

a.subscribe-btn {
    display: inline-block;
    position: relative;
    background: transparent;
    border: 1px solid #3CFFD0;
    font-family: var(--pf);
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    padding: 16px 34px 16px 63px;
}

a.subscribe-btn:before {
    position: absolute;
    left: 34px;
    top: 50%;
    content: "";
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background: url(../media/send.svg) no-repeat scroll left center;
    background-size: auto;
}

/*** Post Block Style 1 ***/

article.post-block-style-wrapper {
    position: relative;
    margin-bottom: 24px;
}

.post-block-style-wrapper .post-block-style-inner {
    position: relative;
}

.post-block-style-wrapper .post-block-media-wrap {
    position: relative;
    margin-bottom: 20px;
}

.post-block-style-wrapper .post-block-media-wrap a {
    position: relative;
    transition: .3s ease-in;
    display: block;
    overflow: hidden;
}

.post-block-style-wrapper .post-block-media-wrap a img {
    transition: .35s ease-in;
    display: block;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
    height: 405px;
}

.post-block-style-wrapper .post-block-content-wrap h2.post-title {
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 1.0875;
    letter-spacing: -0.01em;
    max-width: 92%;
}

.blog-hero-area .col-lg-6 .post-block-style-wrapper .post-block-content-wrap h2.post-title {
    max-width: 90%;
}

.post-block-style-wrapper .post-block-content-wrap h2.post-title a {
    color: #fff;
}

.post-block-style-wrapper .post-block-content-wrap .post-excerpt-box {
    margin-bottom: 15px;
    max-width: 85%;
}

.post-block-style-wrapper .post-block-content-wrap .post-excerpt-box p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #AEAEAE;
    line-height: 1.1875;
}

.post-bottom-meta-list {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #AFAFAF;
    text-transform: uppercase;
}

.post-bottom-meta-list div {
    margin-right: 10px;
}

.post-bottom-meta-list div:last-child {
    margin-right: 0;
}

.post-meta-author-box a {
    color: var(--primary-color);
}

/*** Post Block Style 1 - Small ***/

article.post-block-style-wrapper:last-child {
    margin-bottom: 0;
}

/*** Post Block Style 2 ***/

.post-block-style-inner.post-block-list-style-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all .3s ease-in;
}

.post-block-template-two .post-block-media-wrap {
    margin-bottom: 0;
    margin-right: 15px;
    display: block;
    overflow: hidden;
    width: 100%;
    min-width: 115px;
    max-width: min-content;
}

.post-block-template-two .post-block-media-wrap a img {
    height: 105px;
}

.post-block-template-two .post-block-content-wrap h2.post-title {
    font-size: 22px;
    margin-bottom: 5px;
    max-width: 92%;
}

.post-block-template-two .post-block-content-wrap .post-bottom-meta-list {
    line-height: 21px;
    font-size: 11px;
}

article.post-block-template-two {
    margin-bottom: 20px;
}

article.post-block-template-two:last-child {
    margin-bottom: 0px;
}

/*** Section Title ***/

.section-title h2.title-block {
    font-size: 22px;
    line-height: 1.046;
    margin-bottom: 30px;
}

.section-divider {
    position: relative;
    width: 100%;
    background: #848484;
    height: 1px;
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
}

/*** Post Block Style 3 ***/

/*** Post Block Style Medium ***/

.post-block-template-medium .post-block-media-wrap a img {
    height: 244px;
}

.post-block-template-medium .post-block-content-wrap h2.post-title {
    font-size: 34px;
    line-height: 1.1475;
}

.post-block-template-medium .post-bottom-meta-list {
    font-size: 12px;
    line-height: 1.75;
}


/*** Post Block Style Four ***/

/*** Most read post list ***/

.most-read-block-list .post-block-media-wrap {
    min-width: 140px;
}

.most-read-block-list .post-block-media-wrap a img {
    height: 110px;
}

.most-read-block-list .post-block-content-wrap h2.post-title {
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 1.042;
}

.most-read-block-list .post-block-content-wrap .post-bottom-meta-list {
    line-height: 21px;
    font-size: 12px;
}

article.most-read-block-list {
    border-bottom: 1px solid #686868;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

article.most-read-block-list:last-child {
    border-bottom: 0px solid;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/*** Newsletter Form ***/


/*** Video Section ***/

/*** Footer Area ***/

footer.theme-footer-area {
    background-color: #000;
}

.footer-logo {
    margin-bottom: 32px;
}

.footer-widget p {
    font-size: 16px;
    line-height: 1;
    color: #828282;
    font-weight: 400;
}

.footer-social {
    margin-top: 60px;
}

.footer-social a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    margin-right: 15px;
    line-height: 1;
}

.footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-widget ul li {
    position: relative;
    display: block;
}

.footer-widget ul li a {
    display: block;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #828282;
}

.footer-widget h4.widget-title {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 30px;
}

.footer-newsletter-wrapper form {
    position: relative;
}

.footer-newsletter-wrapper input[type="email"] {
    border: 0px solid;
    background: #262626;
    position: relative;
    font-size: 16px;
    line-height: 1;
    width: 100%;
    max-width: 346px;
    padding: 17px 15px 17px 20px;
    color: #656565;
}

.footer-newsletter-wrapper input[type="submit"] {
    margin-top: 0;
    border: 0px solid;
    width: 59px;
    height: 59px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    outline: none;
    box-shadow: none;
    background: url(../media/submit.svg) no-repeat scroll 50% center #3CFFD0;
    background-size: auto;
}

.footer-newsletter-wrapper input[type="email"]:-ms-input-placeholder {

    /* Internet Explorer 10-11 */
    color: #656565 !important;
    opacity: 1 !important;
}

.footer-newsletter-wrapper input[type="email"]:-ms-input-placeholder {

    /* Microsoft Edge */
    color: #656565 !important;
    opacity: 1 !important;
}

.custom-label {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-top: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #828282;
    line-height: 1.2;
}

/* Hide the browser's default checkbox */
.custom-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 1px solid #5E5E5E;
}

/* On mouse-over, add a grey background color */
.custom-label:hover input~.checkmark {
    background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.custom-label input:checked~.checkmark {
    background-color: var(--primary-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-label input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-label .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #313131;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.footer-bottom {
    position: relative;
    padding: 10px 0;
}

.footer-divider {
    position: relative;
    background: rgb(255 255 255 / 15%);
    height: 1px;
    width: 100%;
    margin: 0 auto;
}

ul.footer-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

ul.footer-nav li {
    position: relative;
    display: inline-block;
    padding-left: 10px;
    margin-left: 10px;
}

ul.footer-nav li a {
    display: block;
    position: relative;
    color: #797979;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
}

ul.footer-nav li:before {
    position: absolute;
    left: -3px;
    top: 0;
    width: 1px;
    height: 14px;
    background: #797979;
    content: "";
}

ul.footer-nav li:first-child:before {
    display: none;
}

.copyright-text p {
    margin: 0;
    color: #797979;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
}


/*** Post Single ***/

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    border: 0 none;
    border-radius: 0;
    height: 50px;
    font-size: 16px;
    padding: 0 20px;
    background-color: transparent;
    border: 1px solid #717171;
    width: 100%;
}

.theme-blog-details ul li::marker {
    color: #3CFFD0;
}

/*** Off Canvas nav ***/

.tpoffcanvas {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    right: -100%;
    width: 480px;
    bottom: 0;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.8);
    background-color: #000000;
    z-index: 9999;
    padding: 50px;
    scrollbar-width: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.45s ease-in-out;
    overflow-y: scroll;
}

.tpoffcanvas__close-btn button {
    font-size: 35px;
    position: absolute;
    right: 50px;
    top: 42px;
    transition: 1s;
    font-weight: 300;
    opacity: 1;
    -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-duration: 0.3s;
    background: transparent;
    color: #fff;
    border: 0px solid;
}

.tpoffcanvas.opened {
    opacity: 1;
    visibility: visible
}

.tpoffcanvas.opened {
    right: 0;
    -webkit-transition: all .4s cubic-bezier(.785, .135, .15, .86);
    -moz-transition: all .4s cubic-bezier(.785, .135, .15, .86);
    transition: all .4s cubic-bezier(.785, .135, .15, .86);
    transition-duration: .6s
}

.body-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(24, 24, 24, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: 0.45s ease-in-out;
}

a.tp-header__bars.tp-menu-bar {
    line-height: 1;
    margin-right: 0px;
}

.tpoffcanvas__logo img {
    max-width: 120px;
    margin-bottom: 35px;
}

/*** Search Box  ***/


#theme-serach-box_Inner {
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    width: 100%;
    height: 100%;
    top: -20em;
    left: 0;
    right: 0;
    white-space: nowrap;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 500ms ease all;
    -moz-transition: 500ms ease all;
    transition: 500ms ease all;
}

.theme-serach-box_inner_wrapper:hover {
    cursor: url(../media/cross.png), auto;
}

#theme-serach-box_Inner .theme-serach-box_inner_wrapper {
    width: 100%;
    height: 100%;
}

#theme-serach-box_Inner .theme-serach-box_inner_wrapper form {
    position: relative;
    margin: 0 auto;
}

#theme-serach-box_Inner .theme-serach-box_inner_wrapper input::-webkit-input-placeholder {
    /* Edge */
    color: #444;
}

#theme-serach-box_Inner .theme-serach-box_inner_wrapper input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #444;
}

#theme-serach-box_Inner .theme-serach-box_inner_wrapper input {
    width: 100%;
    height: 70px;
    padding: 0 75px 0.125em 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #0af8c5b3;
    font-size: 40px;
    color: #fff;
    text-transform: capitalize;
}

#theme-serach-box_Inner .theme-serach-box_inner_wrapper input:focus {
    outline: none;
}

#theme-serach-box_Inner .theme-serach-box_inner_wrapper button {
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    border-left: 0px solid #0af8c5b3;
    -webkit-transition: 500ms ease all;
    -moz-transition: 500ms ease all;
    transition: 500ms ease all;
    cursor: pointer;
    opacity: .8;
}

#theme-serach-box_Inner .theme-serach-box_inner_wrapper button:hover {
    color: #fff;
    opacity: 1;
}

#theme-serach-box_Inner .theme-serach-box_inner_wrapper button:focus {
    outline: none;
}

.search-icon.theme-search-custom-iconn {
    color: #8F8F8F;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    #theme-serach-box_Inner .theme-serach-box_inner_wrapper input,
    #theme-serach-box_Inner .theme-serach-box_inner_wrapper button {
        font-size: 20px;
        height: 50px;
    }
}


/*----------------------------------
       Scroll-to-top
-------------------------------------*/

.scrolltotop {
    border: 0px solid #ddd;
    border-radius: 0;
    bottom: 40px;
    cursor: pointer;
    display: none;
    font-size: 45px;
    text-align: center;
    position: fixed;
    right: 40px;
    z-index: 999;
    background: transparent;
    line-height: 1;
    color: var(--primary-color);
}

.scrolltotop i {
    color: #ddd;
}

.scrolltotop:hover i {
    color: var(--primary-color);
}


/*===============================
    Preloader
================================*/


/*** Dropdown Menu ***/

.nav-menu-wrapper .mainmenu li ul.sub-menu {
    position: absolute;
    left: 0;
    top: 86px;
    z-index: 100;
    padding: 0;
    background: #000000;
    min-width: 235px;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 0px;
    border: 0px solid;
    box-shadow: 0 5px 5px 5px rgb(0 0 0 / 5%);
    border-radius: 0px;
    border-top: 2px solid var(--primary-color);
}

.nav-menu-wrapper .mainmenu li ul.sub-menu li {
    display: block;
    position: relative;
    padding: 5px 20px;
    border-bottom: 1px solid rgb(143 143 143 / 40%);
}

.nav-menu-wrapper .mainmenu li ul.sub-menu li:last-child {
    border-bottom: 0px solid;
}


.nav-menu-wrapper li ul.sub-menu li a {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #CACACA;
    padding: 6px 0px;
    line-height: 1.5;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    border-radius: 0px;
}

.nav-menu-wrapper .mainmenu li:hover ul.sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) translateY(0px);
    -ms-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
}

.nav-menu-wrapper li ul.sub-menu li a:hover {
    color: #fff;
}

.nav-menu-wrapper .mainmenu li ul li ul.sub-menu {
    position: absolute;
    right: 118%;
    left: 100%;
    top: -2px;
    opacity: 0 !important;
    filter: Alpha(opacity=0) !important;
    visibility: hidden;
    min-width: 225px;
}

.nav-menu-wrapper .mainmenu li ul.sub-menu li:hover ul {
    opacity: 1 !important;
    visibility: visible !important;
    transform: none !important;
}


/*** Burger Mobile Navigation ***/

.canvas-nav-menu-wrapper {
    position: relative;
    height: calc(100vh - 20px);
}


@media (max-width: 991px) {

    .tpoffcanvas {
        overflow-y: hidden;
    }

}

.panel-nav-social {
    margin-top: 45px;
}

.panel-nav-social a {
    display: inline-block;
    color: #404040;
    font-size: 24px;
    margin-right: 12px;
    line-height: 1;
}

.panel-nav-social a:hover {
    color: #f8f8f8;
}

.tp-offcanvas-area .most-read-block-list .post-block-content-wrap h2.post-title {
    font-size: 20px;
    line-height: 1.24;
}


/*** About Page ***/

.page-content ul li::marker {
    color: #3CFFD0;
}

.form-group input {
    color: #656565 !important;
}

.post-block-style-wrapper .post-block-content-wrap h2.post-title a:hover {
    color: #C6C6C6;
}

.footer-widget ul li a:hover {
    color: #fff;
}

.footer-social a:hover {
    color: #C6C6C6;
}

.nav-menu-wrapper .mainmenu ul li a:hover,
a.tp-header__bars.tp-menu-bar:hover,
.search-icon.theme-search-custom-iconn:hover {
    color: var(--primary-color);
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #161616;
}

::-webkit-scrollbar-thumb {
    background: #3cffd0;
}
@media (min-width: 1200px) and (max-width: 1399px) {


    .post-block-template-one .post-block-content-wrap h2.post-title {
        font-size: 37px;
    }

    .post-block-template-medium .post-block-content-wrap h2.post-title {
        font-size: 34px;
    }

    .post-block-template-two .post-block-content-wrap h2.post-title {
        font-size: 19px;
    }

    .post-block-style-wrapper .post-block-content-wrap .post-excerpt-box p {
        font-size: 15px;
    }


}


@media (min-width: 992px) and (max-width: 1199px) {

    .post-block-template-one .post-block-content-wrap h2.post-title {
        font-size: 35px;
    }

    .post-block-template-medium .post-block-content-wrap h2.post-title {
        font-size: 28px;
    }

    .post-block-template-two .post-block-content-wrap h2.post-title {
        font-size: 16px;
    }

    .post-block-style-wrapper .post-block-content-wrap .post-excerpt-box p {
        font-size: 15px;
    }

    .post-block-style-wrapper .post-block-content-wrap .post-excerpt-box {
        max-width: 100%;
    }

    .nav-menu-wrapper .mainmenu ul li a {
        font-size: 16px;
        padding-left: 13px;
        padding-right: 13px;
    }

    .post-block-template-two .post-block-media-wrap {
        min-width: 90px;
    }

    .most-read-block-list .post-block-content-wrap h2.post-title {
        font-size: 17px;
        line-height: 1.2;
        max-width: 100%;
    }

    .most-read-block-list .post-block-media-wrap {
        min-width: 110px;
    }


    .custom-label {
        font-size: 11px;
    }

    .checkmark {
        top: -3px;
    }

    .footer-widget p {
        font-size: 14px;
        line-height: 1.25;
    }


}


@media (min-width: 768px) and (max-width: 991px) {

    .theme-header-area .container {
        position: relative;
    }

    .post-block-template-one .post-block-content-wrap h2.post-title {
        font-size: 35px;
        max-width: 95%;
    }

    .post-block-template-medium .post-block-content-wrap h2.post-title {
        font-size: 34px;
    }

    .post-block-template-two .post-block-content-wrap h2.post-title {
        font-size: 22px;
    }

    .post-block-style-wrapper .post-block-content-wrap .post-excerpt-box p {
        font-size: 15px;
    }

    .post-block-style-wrapper .post-block-content-wrap .post-excerpt-box {
        max-width: 100%;
    }

    .nav-menu-wrapper .mainmenu ul li a {
        font-size: 16px;
        padding-left: 13px;
        padding-right: 13px;
    }

    .post-block-template-two .post-block-media-wrap {
        min-width: 115px;
    }

    .mainmenu {
        display: none;
    }

    .header-right-wrapper {
        position: absolute;
        right: 12px;
        top: -10px;
    }

    .theme-header-main {
        padding: 22px 0 22px 0;
    }

    a.subscribe-btn {
        font-size: 15px;
        padding: 13px 25px 13px 50px;
    }

    a.subscribe-btn:before {
        position: absolute;
        left: 22px;
    }

    .header-burger-menu {
        display: block;
    }

    .main-canvas-inner {
        display: none;
    }

    .most-read-block-list .post-block-content-wrap h2.post-title {
        font-size: 22px;
        line-height: 1.2;
        max-width: 100%;
    }

    .most-read-block-list .post-block-media-wrap {
        min-width: 110px;
    }


    a.tp-header__bars.tp-menu-bar {
        margin-right: 0;
    }

    .footer-widget.widget-nav-menu.ml-70 {
        margin-left: 0;
    }

    .footer-social {
        margin-top: 35px;
        margin-bottom: 60px;
    }

    .footer-widget.widget.widget-nav-menu {
        margin-bottom: 60px;
    }

    .footer-widget.widget.widget-newsletter.ml-30 {
        margin-left: 0;
    }

    .footer-newsletter-wrapper input[type="email"] {
        max-width: 100%;
    }

    .footer-bottom {
        padding: 20px 0;
    }

    .copyright-text {
        margin-bottom: 5px;
        text-align: center;
    }

    ul.footer-nav {
        text-align: center;
    }

    ul.footer-nav li:first-child {
        margin-left: 0;
        padding-left: 0;
    }

    ul.footer-nav li:before {
        left: -3px;
    }


}


@media (max-width: 767px) {

    .theme-header-area .container {
        position: relative;
    }

    .post-block-template-one .post-block-content-wrap h2.post-title {
        font-size: 28px;
        max-width: 100%;
    }

    .post-block-template-medium .post-block-content-wrap h2.post-title {
        font-size: 24px;
    }

    .post-block-template-two .post-block-content-wrap h2.post-title {
        font-size: 24px;
    }

    .post-block-style-wrapper .post-block-content-wrap .post-excerpt-box p {
        font-size: 15px;
    }

    .post-block-style-wrapper .post-block-content-wrap .post-excerpt-box {
        max-width: 100%;
    }

    .nav-menu-wrapper .mainmenu ul li a {
        font-size: 16px;
        padding-left: 13px;
        padding-right: 13px;
    }

    .post-block-template-two .post-block-media-wrap {
        min-width: 115px;
    }

    .mainmenu {
        display: none;
    }

    .header-right-wrapper {
        position: absolute;
        right: 12px;
        top: -10px;
    }

    .theme-header-main {
        padding: 22px 0 22px 0;
    }

    a.subscribe-btn {
        font-size: 15px;
        padding: 13px 25px 13px 50px;
    }

    a.subscribe-btn:before {
        position: absolute;
        left: 22px;
    }

    .header-burger-menu {
        display: block;
    }

    .post-block-template-two .post-block-list-style-inner {
        display: block;
    }

    .post-block-template-two .post-block-media-wrap {
        min-width: 100%;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .post-block-template-two .post-block-media-wrap a img {
        height: 275px;
    }

    .main-canvas-inner {
        display: none;
    }

    .most-read-block-list .post-block-content-wrap h2.post-title {
        font-size: 22px;
        line-height: 1.2;
        max-width: 100%;
    }

    .most-read-block-list .post-block-media-wrap {
        min-width: 100%;
        margin-right: 0;
    }

    .most-read-block-list .post-block-content-wrap h2.post-title {
        margin-bottom: 15px;
    }


    a.tp-header__bars.tp-menu-bar {
        margin-right: 0;
    }

    .footer-widget.widget-nav-menu.ml-70 {
        margin-left: 0;
    }

    .footer-social {
        margin-top: 35px;
        margin-bottom: 60px;
    }

    .footer-widget.widget.widget-nav-menu {
        margin-bottom: 60px;
    }

    .footer-widget.widget.widget-newsletter.ml-30 {
        margin-left: 0;
    }

    .footer-newsletter-wrapper input[type="email"] {
        max-width: 100%;
    }

    .footer-bottom {
        padding: 20px 0;
    }

    .copyright-text {
        margin-bottom: 5px;
        text-align: center;
    }

    ul.footer-nav {
        text-align: center;
    }

    ul.footer-nav li:first-child {
        margin-left: 0;
        padding-left: 0;
    }

    ul.footer-nav li:before {
        left: -3px;
    }

    .footer-widget h4.widget-title {
        font-size: 22px;
    }

    .footer-widget p {
        font-size: 14px;
        line-height: 1.4;
    }


    .footer-widget ul li a {
        font-size: 14px;
    }

    .tpoffcanvas {
        width: 80%;
        max-width: 80%;

    }


}


@media (min-width: 576px) and (max-width: 767px) {

    .section-divider {
        max-width: 516px;
    }


}


@media (max-width: 575px) {

    .logo.theme-logo img {
        max-width: 120px;
    }

    .section-divider {
        max-width: 94%;
    }


}


@media (max-width: 500px) {

    .header-subscribe {
        display: none;
    }

    .header-right-wrapper {
        top: 0px;
    }


}


@media (max-width: 350px) {

    .post-block-template-one .post-block-content-wrap h2.post-title {
        font-size: 24px;
    }

    .post-block-template-medium .post-block-content-wrap h2.post-title {
        font-size: 22px;
    }


}